This is <%= @user.username %>'s show page 
<p>Event History:</p>
<div class="row">
    <div class="col-md-6">
        <div class="info_box" >
         <h3> Supported Causes </h3>
            <div id="cause_chart">
                <svg id="donut" width="300" height ="300">
                    <g id="canvas">
                        <g id="art" />
                        <g id="labels" />
                    </g>
                </svg>
            </div> 
        </div>
    </div>

    <div class="col-md-6" id = "pieChart">
     <div class="info_box" >
    <h3> Supported Charity </h3>
    <svg></svg>
    </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6" id = 'hosted_events'>
     <div class="info_box" >
            <h3>Hosted Events</h3>    
            <% if @user.host %> 
                 <% @user.events.each do |event| %> 
                 <li><%= link_to event_path(event) do %>
                     <%= event.title %>
                     <%= event.event_start.strftime("%B %d, %Y") %><% end %></li> 
                    <% end %>   
             <% else %> 
                 <%= "This user hasn't hosted yet" %>   
             <% end %>
             </div>
      </div>

    <div class="col-md-6"  >
     <div class="info_box" >
      <div class= 'pledged_events' userId = '<%=@user.id %>'>
            <h3>Pledged Events </h3>
            <% if @user.donor %> 
               <% @user.donor.events.uniq.each do |event| %> 
                <li><%= link_to event_path(event) do %>
                    pledged $<%= @user.donor.pledged_amount(event) %> 
                    on <%= event.event_start.strftime("%B %d, %Y")%> 
                    for <%= event.title %><% end %></li>
                   <% end %>
             <% else %> 
                <%= "This user hasn't hosted yet" %>   
             <% end %>
      </div>
    </div>
  </div>
</div>



