This is <%= @user.name %>'s show page 
<p>Event History:</p>

<div class="row">
<div class="col-md-5" id = 'hosted_events'>
<h3>Hosted Events</h3>    
<% if @user.host %> 
 <% @user.events.each do |event| %> 
    <li><%= link_to event_path(event) do %>
         <%= event.title %>
         <%= event.event_start.strftime("%B %d, %Y") %> 
         <% end %></li> 
        <% end %>
 <% else %> 
    <%= "This user hasn't hosted yet" %>   
 <% end %>
</div>


<div class="col-md-5"  >
<div class= 'pledged_events' userId = '<%=@user.id %>'>
<h3>Pledged Events </h3>
 <% if @user.donor %> 
  <% @user.donor.events.each do |event| %> 
        <li><%= link_to event_path(event) do %>
            pledged $<%= @user.donor.pledged_amount(event).first.amount %> 
            on <%= event.event_start.strftime("%B %d, %Y")%> 
            for <%= event.title %>  </li>
             <% end %>
         <% end %>
 <% else %> 
    <%= "This user hasn't hosted yet" %>   
 <% end %>
</div>

<div class="col-md-2" id = 'cause_chart'>
<h3> Cause </h3>
<div class="donut_chart" id="donut_chart" >
        <svg id="chart"></svg>
    </div>

</div>


<div class = 'row'>
this is another row
</div>



