<H2>Hi! <%= @user.username %>,</H2> 
<h4> Here’s to a joyful present and a well-remembered past! </H4>

<div class="row">
    <div class="col-md-6">
        <div class="info_box" >
         <h3> Supported Causes </h3>
             <div class="info_box_sm" >
            <div id="cause_chart">
                <svg id="donut" width="300" height ="300">
                    <g id="canvas">
                        <g id="art" />
                        <g id="labels" />
                    </g>
                </svg>
            </div> 
          </div>
        </div>
    </div>

    <div class="col-md-6" id = "pieChart">
         <div class="info_box" >
         <h3> Supported Charity </h3>
            <% if @user.donor %> 
            <div class="info_box_sm" >
            <% @user.donor.supported_charity.each do |charity| %>
              <li><%=link_to charity.name, charity_path(charity) %></li>
              <% end %>
          </div>
          <% end %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6" id = 'hosted_events'>
     <div class="info_box" >
            <h3>Hosted Events</h3>   
             <div class="info_box_sm" > 
            <% if @user.host %> 
                 <% @user.events.each do |event| %> 
                 <li><%= link_to event_path(event) do %>
                     <%= event.title %>
                     <%= event.event_start.strftime("%B %d, %Y") %><% end %></li> 
                    <% end %>   
             <% else %> 
                 <%= "You haven't hosted any events yet" %>   
             <% end %>
             </div>
             </div>
      </div>

    <div class="col-md-6"  >
     <div class="info_box" >
      <div class= 'pledged_events' userId = '<%=@user.id %>'>
            <h3>Pledged Events </h3>
             <div class="info_box_sm" >
            <% if @user.donor %> 
               <% @user.donor.events.uniq.each do |event| %> 
                <li><%= link_to event_path(event) do %>
                    $<%= @user.donor.pledged_amount(event) %> 
                     for "<%= event.title %>"
                     , <%= event.event_start.strftime("%B, %Y")%> 
                     <% end %></li>
                   <% end %>
             <% else %> 
                <%= "You haven't donated yet" %>   
             <% end %>
      </div>
      </div>
    </div>
  </div>
</div>



