<div class="row">
    <!-- MAIN CONTENT AREA -->
    <div class="col-md-8">
        <h3>Checkout and Support Upcoming Events!</h3>
        <!-- GOOGLE MAPS DIV -->
        <div style="width: 100%">
            <div id="map" style="width: 100%; height: 400px"></div>
        </div>
        
        <ul>
        <!-- MAIN CONTENT AREA UPCOMING EVENTS -->
        <% Event.upcoming_events.each do |event| %>
            <li><%= link_to event.title, event_path(event) %>
                <ul>
                    <li>Donations to date: $<%= event.total_raised_to_date.to_i %></li>
                    <li>Left to reach goal: $<%= event.amt_short_of_goal.to_i %></li>
                </ul>
            </li>
        <% end %>
        </ul> 
        <div><%= link_to "More Events", events_path %></div>
    </div>

    <!-- RIGHT SIDEBAR -->
    <div class="col-md-4">
        <!-- COMPANY STATISTICS -->
        <div id="sharing-stats">
            <p><%= Pledge.count %> pledges to date.</p>
            <hr>
            <p>$<%= Pledge.distributed_to_date %> raised for charity.</p>
        </div>

        <!-- CHARITIES REICING THE MOST FUNDING -->
        <h3>Top Pledged Charities:</h3>
        <% Charity.five_most_pledged_charities.each do |charity| %>
            <div class="list-group-item-heading"><%= link_to charity.name, charity_path(charity) %></div>
        <% end %>

        <!-- NEW EVENT OR USER CALL TO ACTION BUTTON -->
        <% if !current_user %>
            <%= link_to new_user_registration_path do %>
                <h3><button class="btn btn-success">CREATE EVENT</button></h3>
            <% end %>
        <% else %>
            <%= link_to new_event_path do %>
                <h3><button class="btn btn-success">CREATE EVENT</button></h3>
            <% end %>
        <% end %>

        <!-- DYNAMIC LIST OF EVENTS BASED ON USER INTERESTS -->
        <% if current_user.events_to_checkout %>
            <h3>Based on your interests:</h3>
            <% current_user.events_to_checkout.each do |event| %>
                <%= link_to event_path(event) do %>
                    <div class="list-group-item-heading"><%= event.title %></div>
                <% end %>
            <% end %>
        <% end %>

    </div>
</div>

