<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"></meta>
  <title>Sharingshrub</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <%= link_to root_path do %>
          <%= image_tag 'sharing_shrub_logo.png', class: "navbar-brand"%>
        <% end %>
        <li><%= link_to "sharing shrub", root_path %></li>
      </ul>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to current_user.username, edit_user_registration_path(current_user) %>
          </li>
          <li><%= link_to "Host Event", new_event_path %></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Profile", edit_user_registration_path(current_user) %></li>
              <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-1">
       <div class='search_form_keyword'>

       
</div>
    </div>
    <div class="col-md-10">

          <%= yield %>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
</body>
</html>
