<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"></meta>
  <title>Sharingshrub</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <%= link_to "HOME", root_path, id: "nav_icon" %>
  <div class="nav_links">
    <% if current_user %>
      Logged in as <%= current_user.email %>
      <%= link_to "Host Event", new_event_path %>
      <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "log in", new_user_session_path %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>

          <%= yield %>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
</body>
</html>
